<div>
  <h2 id="page-heading" data-cy="MeetingHeading">
    <span jhiTranslate="templateApp.meeting.home.title">Meetings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.meeting.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-meeting"
        [routerLink]="['/meeting/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.meeting.home.createLabel"> Create a new Meeting </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="meetings?.length === 0">
    <span jhiTranslate="templateApp.meeting.home.notFound">No meetings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="meetings && meetings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.city">City</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.totalPlaces">Total Places</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.date">Date</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.subject">Subject</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.unit">Unit</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.totalAttendee">Total Attendee</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.attendee">Attendee</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.type">Type</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meeting.finalized">Finalized</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of meetings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/meeting', meeting.id, 'view']">{{ meeting.id }}</a>
          </td>
          <td>{{ meeting.city }}</td>
          <td>{{ meeting.totalPlaces }}</td>
          <td>{{ meeting.date | formatMediumDate }}</td>
          <td>{{ meeting.subject }}</td>
          <td>{{ meeting.unit }}</td>
          <td>{{ meeting.totalAttendee }}</td>
          <td>{{ meeting.attendee }}</td>
          <td>{{ meeting.type }}</td>
          <td>{{ meeting.finalized }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/meeting', meeting.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/meeting', meeting.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(meeting)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
