<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Person</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/person/get-identity-info">Kişi Oluştur</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/person/get-person-info">Kişi Güncelle</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="search"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/person/person-result" [queryParams]="{ mode: 'search' }">Kişi Arama</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="file-alt"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/person/person-deletion/demands">Kişi Silme Talepleri</a>
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Other-Person</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/other-person">Kişi Oluştur</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/other-person/get-other-person">Kişi Güncelle</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="search"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/other-person/other-person-result" [queryParams]="{ mode: 'search' }">Kişi Arama</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="file-alt"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/other-person/other-person-deletion/demands">Kişi Silme Talepleri</a>
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Meeting</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/meeting/info" [queryParams]="{ mode: 'create' }">Toplantı Oluştur</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/meeting/unfinalized-meetings" [queryParams]="{ mode: 'unfinalized' }"
      >Toplantı Sonuçlandır</a
    >
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/meeting/unfinalized-meetings" [queryParams]="{ mode: 'finalized' }"
      >Geçmiş Toplantılar</a
    >
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Tabs</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/tabs">Tablara Git</a>
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>NgRx Course</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/ngrx/counter">Counter</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/ngrx/posts">Posts</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/ngrx/side-effects">Side Effects</a>
  </div>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/ngrx/data">Data</a>
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>RxJS Course</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row d-flex align-items-center mt-1">
    <fa-icon icon="user-plus"></fa-icon>
    <a (click)="onPageClick()" class="pl-3" routerLink="/rxjs">RxJS Main</a>
  </div>
</mat-expansion-panel>
