<div class="d-flex flex-row justify-content-center mb-3">
  <div class="card" [ngClass]="size === 'full' ? 'w-100' : 'w-60'">
    <div class="card-body">
      <div class="card-title" *ngIf="title">
        <h5>{{ title }}</h5>
      </div>
      <div class="col">
        <div class="row w-100">
          <ng-content select="[slot=main]"></ng-content>
        </div>
        <div class="d-flex flex-row justify-content-around mt-3">
          <jhi-back-button *ngIf="backButton"></jhi-back-button>
          <ng-content select="[slot=actions]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
