<jhi-card-wrapper size="full">
  <div class="col w-100" slot="main">
    <div class="row">
      <div class="col-6">
        <jhi-meeting-info size="full" [actions]="false" #meeting></jhi-meeting-info>
      </div>
      <div class="col-6">
        <jhi-meeting-attendees size="full" [actions]="false" #attendees></jhi-meeting-attendees>
      </div>
    </div>
  </div>
  <button slot="actions" (click)="saveMeeting()" type="button" class="btn btn-primary">
    <fa-icon icon="save"></fa-icon>
    <span class="pl-1">Kaydet</span>
  </button>
</jhi-card-wrapper>
