<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span jhiTranslate="templateApp.person.home.title">People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.person.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.person.home.createLabel"> Create a new Person </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span jhiTranslate="templateApp.person.home.notFound">No people found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.description">Description</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.position">Position</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.section">Section</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.city">City</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.district">District</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.institution">Institution</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.organization">Organization</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.status">Status</span></th>
          <th scope="col"><span jhiTranslate="templateApp.person.identity">Identity</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.description }}</td>
          <td>{{ person.position }}</td>
          <td>{{ person.section }}</td>
          <td>{{ person.city }}</td>
          <td>{{ person.district }}</td>
          <td>{{ person.institution }}</td>
          <td>{{ person.organization }}</td>
          <td>{{ person.deleted }}</td>
          <td>{{ person.status }}</td>
          <td>
            <div *ngIf="person.identity">
              <a [routerLink]="['/identity', person.identity?.id, 'view']">{{ person.identity?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
