<jhi-card-wrapper title="Toplantı Katılımcıları" [backButton]="actions" [size]="size">
  <ng-container slot="main">
    <p>{{ meeting.city }} ilinde {{ meeting.date! | formatMediumDate }} tarihinde düzenlenen toplantı katılımcıları</p>
    <jhi-dynamic-form-creator class="w-100" [formCreator]="formCreator"></jhi-dynamic-form-creator>
  </ng-container>
  <button
    *ngIf="actions"
    slot="actions"
    (click)="createMeeting()"
    type="button"
    class="btn btn-primary"
    [disabled]="formCreator.form.invalid"
  >
    <fa-icon icon="save"></fa-icon>
    <span class="pl-1">Kaydet</span>
  </button>
</jhi-card-wrapper>
