<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr />
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div *ngIf="updateForm.get('title')!.touched && !updateForm.get('title')!.valid">
          <div *ngIf="updateForm.get('title')!.errors!.required">Title is required</div>
          <div *ngIf="updateForm.get('title')!.errors!.minlength">Title should be min 6 chars</div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div *ngIf="updateForm.get('description')!.touched && !updateForm.get('description')!.valid">
          <div *ngIf="updateForm.get('description')!.errors!.required">Description is required</div>
          <div *ngIf="updateForm.get('description')!.errors!.minlength">Description should be min 10 chars</div>
        </div>
      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">Save</button>
      </div>
    </form>
  </div>
</div>
