<div class="form-group row m-0 p-0" [formGroup]="form">
  <div class="col pl-0">
    <jhi-selections-retriever formControlName="city" selectionType="city" placeholder="İl"></jhi-selections-retriever>
  </div>
  <div class="col pl-0">
    <jhi-selections-retriever formControlName="position" selectionType="org-status" placeholder="Konum"></jhi-selections-retriever>
  </div>
  <div class="col pl-0">
    <jhi-selections-retriever formControlName="field" selectionType="org-status" placeholder="Alan"></jhi-selections-retriever>
  </div>
  <div class="col pl-0 pr-0">
    <input type="number" class="form-control" formControlName="startYear" placeholder="Başlangıç Tarihi" />
  </div>
  <ng-container *ngIf="form.get('id')?.value">
    <button type="button" class="btn btn-primary ml-1" placement="bottom" ngbTooltip="Faaliyeti Bitir" (click)="stopActivity()">
      <fa-icon icon="stop"></fa-icon>
    </button>
  </ng-container>
</div>
