<mat-card>
  <mat-card-title>
    <div class="d-flex justify-content-between">
      <div>
        <span>Veri Girişi İstatistikleri</span>
      </div>
      <div class="div">
        <button mat-mini-fab color="primary" [mat-menu-trigger-for]="menu">
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a download="il-istatistikleri.png" style="color: black" [href]="url">
              <fa-icon icon="download"></fa-icon>
              <span>PNG İndir</span>
            </a>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="show-height">
      <div class="show-height" [ngClass]="loading ? 'not_show' : 'show'">
        <canvas id="cities">{{ chart }}</canvas>
      </div>
      <div class="d-flex justify-content-center align-items-center show-height" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </mat-card-content>
</mat-card>
