<div>
  <input type="text" placeholder="Enter a text" [(ngModel)]="text" />
  <input type="number" placeholder="Enter a value" [(ngModel)]="value" />
  <button type="button" class="btn btn-primary" (click)="onAdd()">Add to counter</button>
</div>

<div>
  <button type="button" class="btn btn-secondary" (click)="onChangeText()">Change Text</button>
</div>
