<div class="form-group row m-0 p-0" [formGroup]="form">
  <div class="col pl-0 pr-0">
    <input type="text" class="form-control" formControlName="name" placeholder="Diğer İsim Giriniz" />
  </div>
</div>
