<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-identity-heading" data-cy="IdentityCreateUpdateHeading" jhiTranslate="templateApp.identity.home.createOrEditLabel">
        Create or edit a Identity
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.surname" for="field_surname">Surname</label>
          <input type="text" class="form-control" name="surname" id="field_surname" data-cy="surname" formControlName="surname" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.gender" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'templateApp.Genders.null' | translate }}</option>
            <option *ngFor="let genders of gendersValues" [value]="genders">{{ 'templateApp.Genders.' + genders | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.placeOfBirth" for="field_placeOfBirth">Place Of Birth</label>
          <input
            type="text"
            class="form-control"
            name="placeOfBirth"
            id="field_placeOfBirth"
            data-cy="placeOfBirth"
            formControlName="placeOfBirth"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.registeredCity" for="field_registeredCity"
            >Registered City</label
          >
          <input
            type="text"
            class="form-control"
            name="registeredCity"
            id="field_registeredCity"
            data-cy="registeredCity"
            formControlName="registeredCity"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.registeredDistrict" for="field_registeredDistrict"
            >Registered District</label
          >
          <input
            type="text"
            class="form-control"
            name="registeredDistrict"
            id="field_registeredDistrict"
            data-cy="registeredDistrict"
            formControlName="registeredDistrict"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.registeredVillage" for="field_registeredVillage"
            >Registered Village</label
          >
          <input
            type="text"
            class="form-control"
            name="registeredVillage"
            id="field_registeredVillage"
            data-cy="registeredVillage"
            formControlName="registeredVillage"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.motherName" for="field_motherName">Mother Name</label>
          <input
            type="text"
            class="form-control"
            name="motherName"
            id="field_motherName"
            data-cy="motherName"
            formControlName="motherName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.fatherName" for="field_fatherName">Father Name</label>
          <input
            type="text"
            class="form-control"
            name="fatherName"
            id="field_fatherName"
            data-cy="fatherName"
            formControlName="fatherName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.maritalStatus" for="field_maritalStatus"
            >Marital Status</label
          >
          <select
            class="form-control"
            name="maritalStatus"
            formControlName="maritalStatus"
            id="field_maritalStatus"
            data-cy="maritalStatus"
          >
            <option [ngValue]="null">{{ 'templateApp.MaritalStatus.null' | translate }}</option>
            <option *ngFor="let maritalStatus of maritalStatusValues" [value]="maritalStatus">
              {{ 'templateApp.MaritalStatus.' + maritalStatus | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.education" for="field_education">Education</label>
          <input type="text" class="form-control" name="education" id="field_education" data-cy="education" formControlName="education" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.profession" for="field_profession">Profession</label>
          <input
            type="text"
            class="form-control"
            name="profession"
            id="field_profession"
            data-cy="profession"
            formControlName="profession"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.birthday" for="field_birthday">Birthday</label>
          <div class="input-group">
            <input
              id="field_birthday"
              data-cy="birthday"
              type="text"
              class="form-control"
              name="birthday"
              ngbDatepicker
              #birthdayDp="ngbDatepicker"
              formControlName="birthday"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.identity.identityNo" for="field_identityNo">Identity No</label>
          <input
            type="text"
            class="form-control"
            name="identityNo"
            id="field_identityNo"
            data-cy="identityNo"
            formControlName="identityNo"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
