<jhi-loading-spinner *ngIf="loading; else result"></jhi-loading-spinner>
<ng-template #result>
  <jhi-card-wrapper title="Kayıt Silme Talebi" [backButton]="true">
    <jhi-dynamic-form-creator slot="main" class="w-100" [formCreator]="formCreator!"></jhi-dynamic-form-creator>
    <ng-container slot="actions">
      <button
        [disabled]="formCreator!.form.invalid"
        (click)="process('CONFIRMED')"
        type="button"
        class="btn btn-success ml-1"
        placement="bottom"
        ngbTooltip="Onayla"
      >
        <fa-icon icon="check"></fa-icon>
        <span class="ml-1">Onayla</span>
      </button>
      <button
        [disabled]="formCreator!.form.invalid"
        (click)="process('DENIED')"
        type="button"
        class="btn btn-danger ml-1"
        placement="bottom"
        ngbTooltip="Reddet"
      >
        <fa-icon icon="times"></fa-icon>
        <span class="ml-1">Reddet</span>
      </button>
    </ng-container>
  </jhi-card-wrapper>
</ng-template>
