<jhi-card-wrapper title="Eklenen Kriterler" *ngIf="params.length > 0">
  <jhi-parameters slot="main" class="w-100" *ngFor="let param of params" [param]="param"></jhi-parameters>
  <ng-container slot="actions">
    <ng-content></ng-content>
  </ng-container>
</jhi-card-wrapper>
