<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-meeting-heading" data-cy="MeetingCreateUpdateHeading" jhiTranslate="templateApp.meeting.home.createOrEditLabel">
        Create or edit a Meeting
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.totalPlaces" for="field_totalPlaces">Total Places</label>
          <input
            type="number"
            class="form-control"
            name="totalPlaces"
            id="field_totalPlaces"
            data-cy="totalPlaces"
            formControlName="totalPlaces"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.subject" for="field_subject">Subject</label>
          <input type="text" class="form-control" name="subject" id="field_subject" data-cy="subject" formControlName="subject" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.unit" for="field_unit">Unit</label>
          <input type="text" class="form-control" name="unit" id="field_unit" data-cy="unit" formControlName="unit" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.totalAttendee" for="field_totalAttendee"
            >Total Attendee</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAttendee"
            id="field_totalAttendee"
            data-cy="totalAttendee"
            formControlName="totalAttendee"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.attendee" for="field_attendee">Attendee</label>
          <input type="number" class="form-control" name="attendee" id="field_attendee" data-cy="attendee" formControlName="attendee" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meeting.finalized" for="field_finalized">Finalized</label>
          <input type="checkbox" class="form-check" name="finalized" id="field_finalized" data-cy="finalized" formControlName="finalized" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
