<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-demand-heading" data-cy="DemandCreateUpdateHeading" jhiTranslate="templateApp.demand.home.createOrEditLabel">
        Create or edit a Demand
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.document" for="field_document">Document</label>
          <input type="text" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.demandedBy" for="field_demandedBy">Demanded By</label>
          <input
            type="text"
            class="form-control"
            name="demandedBy"
            id="field_demandedBy"
            data-cy="demandedBy"
            formControlName="demandedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.demandType" for="field_demandType">Demand Type</label>
          <input
            type="text"
            class="form-control"
            name="demandType"
            id="field_demandType"
            data-cy="demandType"
            formControlName="demandType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'templateApp.DemandType.null' | translate }}</option>
            <option *ngFor="let demandType of demandTypeValues" [value]="demandType">
              {{ 'templateApp.DemandType.' + demandType | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.processedBy" for="field_processedBy">Processed By</label>
          <input
            type="text"
            class="form-control"
            name="processedBy"
            id="field_processedBy"
            data-cy="processedBy"
            formControlName="processedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.entityId" for="field_entityId">Entity Id</label>
          <input type="number" class="form-control" name="entityId" id="field_entityId" data-cy="entityId" formControlName="entityId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.demand.processDescription" for="field_processDescription"
            >Process Description</label
          >
          <input
            type="text"
            class="form-control"
            name="processDescription"
            id="field_processDescription"
            data-cy="processDescription"
            formControlName="processDescription"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
