<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="actualActivity">
      <h2 data-cy="actualActivityDetailsHeading"><span jhiTranslate="templateApp.actualActivity.detail.title">Actual Activity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ actualActivity.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.actualActivity.city">City</span></dt>
        <dd>
          <span>{{ actualActivity.city }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.actualActivity.position">Position</span></dt>
        <dd>
          <span>{{ actualActivity.position }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.actualActivity.startYear">Start Year</span></dt>
        <dd>
          <span>{{ actualActivity.startYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.actualActivity.deleted">Deleted</span></dt>
        <dd>
          <span>{{ actualActivity.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.actualActivity.field">Field</span></dt>
        <dd>
          <span>{{ actualActivity.field }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.actualActivity.person">Person</span></dt>
        <dd>
          <div *ngIf="actualActivity.person">
            <a [routerLink]="['/person', actualActivity.person?.id, 'view']">{{ actualActivity.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/actual-activity', actualActivity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
