<p *ngFor="let selection of dataPosts$ | async">
  {{ selection.value }}
  <a type="button" class="btn btn-info" [routerLink]="['details', selection.id]">Details</a>
  <a type="button" class="btn btn-primary" [routerLink]="['edit', selection.id]">Edit</a>
  <a type="button" class="btn btn-danger" (click)="delete(selection.id)">Delete</a>
</p>
