<div>
  <h2 id="page-heading" data-cy="AbroadActivityHeading">
    <span jhiTranslate="templateApp.abroadActivity.home.title">Abroad Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.abroadActivity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-abroad-activity"
        [routerLink]="['/abroad-activity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.abroadActivity.home.createLabel"> Create a new Abroad Activity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="abroadActivities?.length === 0">
    <span jhiTranslate="templateApp.abroadActivity.home.notFound">No abroadActivities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="abroadActivities && abroadActivities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.abroadActivity.country">Country</span></th>
          <th scope="col"><span jhiTranslate="templateApp.abroadActivity.startYear">Start Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.abroadActivity.endYear">End Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.abroadActivity.position">Position</span></th>
          <th scope="col"><span jhiTranslate="templateApp.abroadActivity.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="templateApp.abroadActivity.person">Person</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abroadActivity of abroadActivities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/abroad-activity', abroadActivity.id, 'view']">{{ abroadActivity.id }}</a>
          </td>
          <td>{{ abroadActivity.country }}</td>
          <td>{{ abroadActivity.startYear }}</td>
          <td>{{ abroadActivity.endYear }}</td>
          <td>{{ abroadActivity.position }}</td>
          <td>{{ abroadActivity.deleted }}</td>
          <td>
            <div *ngIf="abroadActivity.person">
              <a [routerLink]="['/person', abroadActivity.person?.id, 'view']">{{ abroadActivity.person?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/abroad-activity', abroadActivity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/abroad-activity', abroadActivity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(abroadActivity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
