<div>
  <h2 id="page-heading" data-cy="OtherPersonRecordHeading">
    <span jhiTranslate="templateApp.otherPersonRecord.home.title">Other Person Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.otherPersonRecord.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-other-person-record"
        [routerLink]="['/other-person-record/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.otherPersonRecord.home.createLabel"> Create a new Other Person Record </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="otherPersonRecords?.length === 0">
    <span jhiTranslate="templateApp.otherPersonRecord.home.notFound">No otherPersonRecords found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="otherPersonRecords && otherPersonRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.city">City</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.rank">Rank</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.section">Section</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.meetingStatus">Meeting Status</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.status">Status</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.speaker">Speaker</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.addedByUnit">Added By Unit</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.profession">Profession</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.document">Document</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.type">Type</span></th>
          <th scope="col"><span jhiTranslate="templateApp.otherPersonRecord.otherPerson">Other Person</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let otherPersonRecord of otherPersonRecords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/other-person-record', otherPersonRecord.id, 'view']">{{ otherPersonRecord.id }}</a>
          </td>
          <td>{{ otherPersonRecord.city }}</td>
          <td>{{ otherPersonRecord.rank }}</td>
          <td>{{ otherPersonRecord.section }}</td>
          <td>{{ otherPersonRecord.meetingStatus }}</td>
          <td>{{ otherPersonRecord.status }}</td>
          <td>{{ otherPersonRecord.speaker }}</td>
          <td>{{ otherPersonRecord.addedByUnit }}</td>
          <td>{{ otherPersonRecord.profession }}</td>
          <td>{{ otherPersonRecord.document }}</td>
          <td>{{ otherPersonRecord.type }}</td>
          <td>
            <div *ngIf="otherPersonRecord.otherPerson">
              <a [routerLink]="['/other-person', otherPersonRecord.otherPerson?.id, 'view']">{{ otherPersonRecord.otherPerson?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/other-person-record', otherPersonRecord.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/other-person-record', otherPersonRecord.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(otherPersonRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
