<div class="row">
  <div class="col-md-8">
    <h3>Post List (Total: {{ count$ | async }})</h3>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/ngrx', 'posts', 'add']">Add Post</a>
    </div>

    <table class="table table-striped" *ngIf="posts$ | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td style="word-break: break-all">{{ post.id }}</td>
          <td style="word-break: break-all">{{ post.title }}</td>
          <td style="word-break: break-all">{{ post.description }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['edit', post.id]">Update</a>
            <a class="btn btn-danger" (click)="delete(post.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
