<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Kayıt Silme</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Kayıt silinsin mi?</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Çık</button>
  <button type="button" class="btn btn-danger" (click)="modal.close(true)">Sil</button>
</div>
