<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-other-person-record-heading"
        data-cy="OtherPersonRecordCreateUpdateHeading"
        jhiTranslate="templateApp.otherPersonRecord.home.createOrEditLabel"
      >
        Create or edit a Other Person Record
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.rank" for="field_rank">Rank</label>
          <input type="text" class="form-control" name="rank" id="field_rank" data-cy="rank" formControlName="rank" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.section" for="field_section">Section</label>
          <input type="text" class="form-control" name="section" id="field_section" data-cy="section" formControlName="section" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.meetingStatus" for="field_meetingStatus"
            >Meeting Status</label
          >
          <input
            type="text"
            class="form-control"
            name="meetingStatus"
            id="field_meetingStatus"
            data-cy="meetingStatus"
            formControlName="meetingStatus"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.speaker" for="field_speaker">Speaker</label>
          <input type="checkbox" class="form-check" name="speaker" id="field_speaker" data-cy="speaker" formControlName="speaker" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.addedByUnit" for="field_addedByUnit"
            >Added By Unit</label
          >
          <input
            type="text"
            class="form-control"
            name="addedByUnit"
            id="field_addedByUnit"
            data-cy="addedByUnit"
            formControlName="addedByUnit"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.profession" for="field_profession"
            >Profession</label
          >
          <input
            type="text"
            class="form-control"
            name="profession"
            id="field_profession"
            data-cy="profession"
            formControlName="profession"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.document" for="field_document">Document</label>
          <input type="text" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPersonRecord.otherPerson" for="field_otherPerson"
            >Other Person</label
          >
          <select class="form-control" id="field_otherPerson" data-cy="otherPerson" name="otherPerson" formControlName="otherPerson">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                otherPersonOption.id === editForm.get('otherPerson')!.value?.id ? editForm.get('otherPerson')!.value : otherPersonOption
              "
              *ngFor="let otherPersonOption of otherPeopleSharedCollection; trackBy: trackOtherPersonById"
            >
              {{ otherPersonOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
