<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-other-person-heading"
        data-cy="OtherPersonCreateUpdateHeading"
        jhiTranslate="templateApp.otherPerson.home.createOrEditLabel"
      >
        Create or edit a Other Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.otherPerson.identity" for="field_identity">Identity</label>
          <select class="form-control" id="field_identity" data-cy="identity" name="identity" formControlName="identity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="identityOption.id === editForm.get('identity')!.value?.id ? editForm.get('identity')!.value : identityOption"
              *ngFor="let identityOption of identitiesCollection; trackBy: trackIdentityById"
            >
              {{ identityOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
