<jhi-form-card title="Şahıs Silme Talebi Oluştur" [formCreator]="formCreator!" [backButton]="true">
  <button [disabled]="this.formCreator!.form.invalid" (click)="submit()" type="button" class="btn btn-primary">
    <fa-icon icon="file-alt"></fa-icon>
    <span class="pl-1">Talep Oluştur</span>
  </button>
</jhi-form-card>
