<div class="d-flex align-items-center border">
  <div class="flex-grow-1">
    <div class="d-flex justify-content-around">
      <span>Alan: {{ 'templateApp.parameterField.' + param.field | translate }}</span>
      <span>Kriter: {{ 'templateApp.selection.' + param.sqlOperation | translate }}</span>
      <span>Değer: {{ param.value }}</span>
    </div>
  </div>
  <button (click)="removeParam()" type="button" class="btn btn-primary" placement="right" ngbTooltip="Kriteri Sil">
    <fa-icon icon="trash-alt"></fa-icon>
  </button>
</div>
