<div class="col mb-3">
  <div class="d-flex flex-row-reverse">
    <jhi-excel-exporter></jhi-excel-exporter>
  </div>
</div>
<table class="table table-hover" id="result-table">
  <thead>
    <tr>
      <th scope="col">Sıra</th>
      <th scope="col" *ngFor="let column of configs.columns">{{ 'templateApp.table.' + column.column | translate }}</th>
      <th scope="col" *ngIf="configs.actions"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datum of configs.data; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let column of configs.columns">{{ datum | propertyExtractor: column.column:column.parser }}</td>
      <td *ngIf="configs.actions" class="text-right">
        <div class="btn-group">
          <button
            *ngFor="let action of configs.actions"
            type="button"
            [ngClass]="action.icon === 'trash-alt' ? 'btn-danger' : 'btn-primary'"
            class="btn"
            placement="bottom"
            [title]="action.tooltip"
            [routerLink]="action.link"
            [queryParams]="{ id: datum.id }"
            role="button"
            [ngbTooltip]="action.tooltip"
          >
            <fa-icon [icon]="action.icon!"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
