<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="identity">
      <h2 data-cy="identityDetailsHeading"><span jhiTranslate="templateApp.identity.detail.title">Identity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ identity.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.name">Name</span></dt>
        <dd>
          <span>{{ identity.name }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.surname">Surname</span></dt>
        <dd>
          <span>{{ identity.surname }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.gender">Gender</span></dt>
        <dd>
          <span jhiTranslate="{{ 'templateApp.Genders.' + identity.gender }}">{{ identity.gender }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.placeOfBirth">Place Of Birth</span></dt>
        <dd>
          <span>{{ identity.placeOfBirth }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.registeredCity">Registered City</span></dt>
        <dd>
          <span>{{ identity.registeredCity }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.registeredDistrict">Registered District</span></dt>
        <dd>
          <span>{{ identity.registeredDistrict }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.registeredVillage">Registered Village</span></dt>
        <dd>
          <span>{{ identity.registeredVillage }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.motherName">Mother Name</span></dt>
        <dd>
          <span>{{ identity.motherName }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.fatherName">Father Name</span></dt>
        <dd>
          <span>{{ identity.fatherName }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.maritalStatus">Marital Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'templateApp.MaritalStatus.' + identity.maritalStatus }}">{{ identity.maritalStatus }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.education">Education</span></dt>
        <dd>
          <span>{{ identity.education }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.address">Address</span></dt>
        <dd>
          <span>{{ identity.address }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.profession">Profession</span></dt>
        <dd>
          <span>{{ identity.profession }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.birthday">Birthday</span></dt>
        <dd>
          <span>{{ identity.birthday | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.identity.identityNo">Identity No</span></dt>
        <dd>
          <span>{{ identity.identityNo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/identity', identity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
