<div>
  <h2 id="page-heading" data-cy="DemandHeading">
    <span jhiTranslate="templateApp.demand.home.title">Demands</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.demand.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demand"
        [routerLink]="['/demand/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.demand.home.createLabel"> Create a new Demand </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demands?.length === 0">
    <span jhiTranslate="templateApp.demand.home.notFound">No demands found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demands && demands.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.document">Document</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.demandedBy">Demanded By</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.description">Description</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.demandType">Demand Type</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.status">Status</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.processedBy">Processed By</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.entityId">Entity Id</span></th>
          <th scope="col"><span jhiTranslate="templateApp.demand.processDescription">Process Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demand of demands; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demand', demand.id, 'view']">{{ demand.id }}</a>
          </td>
          <td>{{ demand.document }}</td>
          <td>{{ demand.demandedBy }}</td>
          <td>{{ demand.description }}</td>
          <td>{{ demand.demandType }}</td>
          <td jhiTranslate="{{ 'templateApp.DemandType.' + demand.status }}">{{ demand.status }}</td>
          <td>{{ demand.processedBy }}</td>
          <td>{{ demand.entityId }}</td>
          <td>{{ demand.processDescription }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/demand', demand.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/demand', demand.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demand)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
