<div>
  <h2 id="page-heading" data-cy="PastActivityHeading">
    <span jhiTranslate="templateApp.pastActivity.home.title">Past Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.pastActivity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-past-activity"
        [routerLink]="['/past-activity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.pastActivity.home.createLabel"> Create a new Past Activity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pastActivities?.length === 0">
    <span jhiTranslate="templateApp.pastActivity.home.notFound">No pastActivities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pastActivities && pastActivities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.pastActivity.city">City</span></th>
          <th scope="col"><span jhiTranslate="templateApp.pastActivity.startYear">Start Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.pastActivity.endYear">End Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.pastActivity.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="templateApp.pastActivity.person">Person</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pastActivity of pastActivities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/past-activity', pastActivity.id, 'view']">{{ pastActivity.id }}</a>
          </td>
          <td>{{ pastActivity.city }}</td>
          <td>{{ pastActivity.startYear }}</td>
          <td>{{ pastActivity.endYear }}</td>
          <td>{{ pastActivity.deleted }}</td>
          <td>
            <div *ngIf="pastActivity.person">
              <a [routerLink]="['/person', pastActivity.person?.id, 'view']">{{ pastActivity.person?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/past-activity', pastActivity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/past-activity', pastActivity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pastActivity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
