<div>
  <h2 id="page-heading" data-cy="ActualActivityHeading">
    <span jhiTranslate="templateApp.actualActivity.home.title">Actual Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.actualActivity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-actual-activity"
        [routerLink]="['/actual-activity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.actualActivity.home.createLabel"> Create a new Actual Activity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="actualActivities?.length === 0">
    <span jhiTranslate="templateApp.actualActivity.home.notFound">No actualActivities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="actualActivities && actualActivities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.actualActivity.city">City</span></th>
          <th scope="col"><span jhiTranslate="templateApp.actualActivity.position">Position</span></th>
          <th scope="col"><span jhiTranslate="templateApp.actualActivity.startYear">Start Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.actualActivity.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="templateApp.actualActivity.field">Field</span></th>
          <th scope="col"><span jhiTranslate="templateApp.actualActivity.person">Person</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actualActivity of actualActivities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/actual-activity', actualActivity.id, 'view']">{{ actualActivity.id }}</a>
          </td>
          <td>{{ actualActivity.city }}</td>
          <td>{{ actualActivity.position }}</td>
          <td>{{ actualActivity.startYear }}</td>
          <td>{{ actualActivity.deleted }}</td>
          <td>{{ actualActivity.field }}</td>
          <td>
            <div *ngIf="actualActivity.person">
              <a [routerLink]="['/person', actualActivity.person?.id, 'view']">{{ actualActivity.person?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/actual-activity', actualActivity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/actual-activity', actualActivity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(actualActivity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
