<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="meetingAttendee">
      <h2 data-cy="meetingAttendeeDetailsHeading"><span jhiTranslate="templateApp.meetingAttendee.detail.title">Meeting Attendee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ meetingAttendee.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meetingAttendee.status">Status</span></dt>
        <dd>
          <span>{{ meetingAttendee.status }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meetingAttendee.deleted">Deleted</span></dt>
        <dd>
          <span>{{ meetingAttendee.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meetingAttendee.meeting">Meeting</span></dt>
        <dd>
          <div *ngIf="meetingAttendee.meeting">
            <a [routerLink]="['/meeting', meetingAttendee.meeting?.id, 'view']">{{ meetingAttendee.meeting?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="templateApp.meetingAttendee.identity">Identity</span></dt>
        <dd>
          <div *ngIf="meetingAttendee.identity">
            <a [routerLink]="['/identity', meetingAttendee.identity?.id, 'view']">{{ meetingAttendee.identity?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/meeting-attendee', meetingAttendee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
