<div>
  <h2 id="page-heading" data-cy="PhoneHeading">
    <span jhiTranslate="templateApp.phone.home.title">Phones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.phone.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phone"
        [routerLink]="['/phone/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.phone.home.createLabel"> Create a new Phone </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phones?.length === 0">
    <span jhiTranslate="templateApp.phone.home.notFound">No phones found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phones && phones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.phone.phoneNumber">Phone Number</span></th>
          <th scope="col"><span jhiTranslate="templateApp.phone.startYear">Start Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.phone.endYear">End Year</span></th>
          <th scope="col"><span jhiTranslate="templateApp.phone.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="templateApp.phone.type">Type</span></th>
          <th scope="col"><span jhiTranslate="templateApp.phone.person">Person</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phone of phones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phone', phone.id, 'view']">{{ phone.id }}</a>
          </td>
          <td>{{ phone.phoneNumber }}</td>
          <td>{{ phone.startYear }}</td>
          <td>{{ phone.endYear }}</td>
          <td>{{ phone.deleted }}</td>
          <td>{{ phone.type }}</td>
          <td>
            <div *ngIf="phone.person">
              <a [routerLink]="['/person', phone.person?.id, 'view']">{{ phone.person?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/phone', phone.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/phone', phone.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(phone)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
