<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phone">
      <h2 data-cy="phoneDetailsHeading"><span jhiTranslate="templateApp.phone.detail.title">Phone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phone.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.phone.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ phone.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.phone.startYear">Start Year</span></dt>
        <dd>
          <span>{{ phone.startYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.phone.endYear">End Year</span></dt>
        <dd>
          <span>{{ phone.endYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.phone.deleted">Deleted</span></dt>
        <dd>
          <span>{{ phone.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.phone.type">Type</span></dt>
        <dd>
          <span>{{ phone.type }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.phone.person">Person</span></dt>
        <dd>
          <div *ngIf="phone.person">
            <a [routerLink]="['/person', phone.person?.id, 'view']">{{ phone.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phone', phone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
