<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="otherPersonRecord">
      <h2 data-cy="otherPersonRecordDetailsHeading">
        <span jhiTranslate="templateApp.otherPersonRecord.detail.title">Other Person Record</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ otherPersonRecord.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.city">City</span></dt>
        <dd>
          <span>{{ otherPersonRecord.city }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.rank">Rank</span></dt>
        <dd>
          <span>{{ otherPersonRecord.rank }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.section">Section</span></dt>
        <dd>
          <span>{{ otherPersonRecord.section }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.meetingStatus">Meeting Status</span></dt>
        <dd>
          <span>{{ otherPersonRecord.meetingStatus }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.status">Status</span></dt>
        <dd>
          <span>{{ otherPersonRecord.status }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.speaker">Speaker</span></dt>
        <dd>
          <span>{{ otherPersonRecord.speaker }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.addedByUnit">Added By Unit</span></dt>
        <dd>
          <span>{{ otherPersonRecord.addedByUnit }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.profession">Profession</span></dt>
        <dd>
          <span>{{ otherPersonRecord.profession }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.document">Document</span></dt>
        <dd>
          <span>{{ otherPersonRecord.document }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.type">Type</span></dt>
        <dd>
          <span>{{ otherPersonRecord.type }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPersonRecord.otherPerson">Other Person</span></dt>
        <dd>
          <div *ngIf="otherPersonRecord.otherPerson">
            <a [routerLink]="['/other-person', otherPersonRecord.otherPerson?.id, 'view']">{{ otherPersonRecord.otherPerson?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/other-person-record', otherPersonRecord.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
