<jhi-query-builder *ngIf="mode === 'search'" [config]="queryBuilderConfig" (resultChanged)="resultChanged($event)"></jhi-query-builder>
<jhi-card-wrapper size="full" title="Bulunan Sonuçlar">
  <jhi-table slot="main" class="w-100" [configs]="tableConfig"></jhi-table>
</jhi-card-wrapper>
