<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="demand">
      <h2 data-cy="demandDetailsHeading"><span jhiTranslate="templateApp.demand.detail.title">Demand</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demand.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.document">Document</span></dt>
        <dd>
          <span>{{ demand.document }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.demandedBy">Demanded By</span></dt>
        <dd>
          <span>{{ demand.demandedBy }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.description">Description</span></dt>
        <dd>
          <span>{{ demand.description }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.demandType">Demand Type</span></dt>
        <dd>
          <span>{{ demand.demandType }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'templateApp.DemandType.' + demand.status }}">{{ demand.status }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.processedBy">Processed By</span></dt>
        <dd>
          <span>{{ demand.processedBy }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.entityId">Entity Id</span></dt>
        <dd>
          <span>{{ demand.entityId }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.demand.processDescription">Process Description</span></dt>
        <dd>
          <span>{{ demand.processDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demand', demand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
