<div *ngIf="!loading && demands.length === 0" class="alert alert-success" role="alert">Talep Bulunmamaktadır.</div>
<jhi-loading-spinner *ngIf="loading"></jhi-loading-spinner>
<jhi-table *ngIf="!loading && demands.length > 0" [configs]="tableConfig!"></jhi-table>
