<jhi-ngrx-loading-spinner *ngIf="showLoading$ | async"></jhi-ngrx-loading-spinner>
<div class="alert alert-danger" *ngIf="errorMessage$ | async as err">{{ err }}</div>
<router-outlet></router-outlet>
