<div class="row">
  <div class="col-md-12">
    <div class="my-3">
      <jhi-ngrx-counter-output></jhi-ngrx-counter-output>
    </div>
    <div class="my-3">
      <jhi-ngrx-counter-buttons></jhi-ngrx-counter-buttons>
    </div>
    <div class="my-3">
      <jhi-ngrx-counter-input></jhi-ngrx-counter-input>
    </div>
  </div>
</div>
