<mat-drawer-container autosize style="height: 100vh">
  <mat-drawer [opened]="opened" (openedChange)="openedChanged($event)" mode="over">
    <div class="col" style="width: 300px">
      <jhi-logged-user></jhi-logged-user>
    </div>
    <jhi-pages></jhi-pages>
  </mat-drawer>
  <jhi-page-ribbon></jhi-page-ribbon>

  <div>
    <router-outlet name="navbar"></router-outlet>
  </div>

  <div class="container-fluid">
    <div class="card jh-card">
      <router-outlet></router-outlet>
    </div>

    <jhi-footer></jhi-footer>
  </div>
</mat-drawer-container>
