<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pastActivity">
      <h2 data-cy="pastActivityDetailsHeading"><span jhiTranslate="templateApp.pastActivity.detail.title">Past Activity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pastActivity.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.pastActivity.city">City</span></dt>
        <dd>
          <span>{{ pastActivity.city }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.pastActivity.startYear">Start Year</span></dt>
        <dd>
          <span>{{ pastActivity.startYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.pastActivity.endYear">End Year</span></dt>
        <dd>
          <span>{{ pastActivity.endYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.pastActivity.deleted">Deleted</span></dt>
        <dd>
          <span>{{ pastActivity.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.pastActivity.person">Person</span></dt>
        <dd>
          <div *ngIf="pastActivity.person">
            <a [routerLink]="['/person', pastActivity.person?.id, 'view']">{{ pastActivity.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/past-activity', pastActivity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
