<jhi-card-wrapper [title]="title" [backButton]="backButton" [size]="size">
  <jhi-dynamic-form-creator slot="main" class="w-100" [formCreator]="formCreator"></jhi-dynamic-form-creator>
  <ng-container slot="actions">
    <ng-content></ng-content>
  </ng-container>
</jhi-card-wrapper>
