<jhi-card-wrapper title="Sorgu Oluştur">
  <jhi-parameter-field slot="main" [fields]="config.fields" class="w-100" #parameterField></jhi-parameter-field>
</jhi-card-wrapper>
<jhi-parameters-wrapper [params]="parameters">
  <button (click)="search()" type="button" class="btn btn-primary">
    <fa-icon icon="search"></fa-icon>
    <span class="pl-1">Sorgula</span>
  </button>
</jhi-parameters-wrapper>
