<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="person">
      <h2 data-cy="personDetailsHeading"><span jhiTranslate="templateApp.person.detail.title">Person</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ person.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.description">Description</span></dt>
        <dd>
          <span>{{ person.description }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.position">Position</span></dt>
        <dd>
          <span>{{ person.position }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.section">Section</span></dt>
        <dd>
          <span>{{ person.section }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.city">City</span></dt>
        <dd>
          <span>{{ person.city }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.district">District</span></dt>
        <dd>
          <span>{{ person.district }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.institution">Institution</span></dt>
        <dd>
          <span>{{ person.institution }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.organization">Organization</span></dt>
        <dd>
          <span>{{ person.organization }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.deleted">Deleted</span></dt>
        <dd>
          <span>{{ person.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.status">Status</span></dt>
        <dd>
          <span>{{ person.status }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.person.identity">Identity</span></dt>
        <dd>
          <div *ngIf="person.identity">
            <a [routerLink]="['/identity', person.identity?.id, 'view']">{{ person.identity?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
