<select [(ngModel)]="value" class="form-control" (change)="change()" [disabled]="readOnly!">
  <option [ngValue]="null" data-default>{{ placeholder }}</option>
  <option *ngFor="let option of options | async" [value]="option.value">
    {{ isTranslationActive ? ('templateApp.selection.' + option.value | translate) : option.value }}
  </option>
</select>
