<jhi-form-card title="Güncel Faaliyetler" [formCreator]="formCreator!" [backButton]="true">
  <button *ngIf="!person.id; else update" (click)="submit()" type="button" class="btn btn-primary">
    <fa-icon icon="arrow-right"></fa-icon>
    <span class="pl-1">Yurtdışı Faaliyetlerine Geç</span>
  </button>
</jhi-form-card>
<ng-template #update>
  <button (click)="updateSubmit()" type="button" class="btn btn-primary">
    <fa-icon icon="save"></fa-icon>
    <span class="pl-1">Güncelle</span>
  </button>
</ng-template>
