<div>
  <h2 id="page-heading" data-cy="IdentityHeading">
    <span jhiTranslate="templateApp.identity.home.title">Identities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.identity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-identity"
        [routerLink]="['/identity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.identity.home.createLabel"> Create a new Identity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="identities?.length === 0">
    <span jhiTranslate="templateApp.identity.home.notFound">No identities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="identities && identities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.name">Name</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.surname">Surname</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.gender">Gender</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.placeOfBirth">Place Of Birth</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.registeredCity">Registered City</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.registeredDistrict">Registered District</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.registeredVillage">Registered Village</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.motherName">Mother Name</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.fatherName">Father Name</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.maritalStatus">Marital Status</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.education">Education</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.address">Address</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.profession">Profession</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.birthday">Birthday</span></th>
          <th scope="col"><span jhiTranslate="templateApp.identity.identityNo">Identity No</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let identity of identities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/identity', identity.id, 'view']">{{ identity.id }}</a>
          </td>
          <td>{{ identity.name }}</td>
          <td>{{ identity.surname }}</td>
          <td jhiTranslate="{{ 'templateApp.Genders.' + identity.gender }}">{{ identity.gender }}</td>
          <td>{{ identity.placeOfBirth }}</td>
          <td>{{ identity.registeredCity }}</td>
          <td>{{ identity.registeredDistrict }}</td>
          <td>{{ identity.registeredVillage }}</td>
          <td>{{ identity.motherName }}</td>
          <td>{{ identity.fatherName }}</td>
          <td jhiTranslate="{{ 'templateApp.MaritalStatus.' + identity.maritalStatus }}">{{ identity.maritalStatus }}</td>
          <td>{{ identity.education }}</td>
          <td>{{ identity.address }}</td>
          <td>{{ identity.profession }}</td>
          <td>{{ identity.birthday | formatMediumDate }}</td>
          <td>{{ identity.identityNo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/identity', identity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/identity', identity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(identity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
