<ng-container [formGroup]="form">
  <div class="d-flex">
    <div class="flex-fill">
      <label>{{ formItem.label }}</label>

      <ng-container [ngSwitch]="formItem.type">
        <!-- Input Text -->
        <input
          *ngSwitchCase="'text'"
          type="text"
          class="form-control"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
        />

        <!-- Input Number -->
        <input
          *ngSwitchCase="'number'"
          type="number"
          class="form-control"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
        />

        <!-- Input Date -->
        <input
          *ngSwitchCase="'date'"
          type="date"
          class="form-control"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
        />

        <!-- Text Area-->
        <textarea
          *ngSwitchCase="'textarea'"
          class="form-control"
          rows="5"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></textarea>

        <!-- Other Name Field -->
        <jhi-other-name-field
          *ngSwitchCase="'otherName'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-other-name-field>

        <!-- Selections Retriever -->
        <jhi-selections-retriever
          *ngSwitchCase="'selections'"
          [selectionType]="formItem.selectionType!"
          [formControlName]="formItem.id"
          [placeholder]="formItem.placeholder"
          [readOnly]="formItem.readOnly"
        ></jhi-selections-retriever>

        <!-- Multi Selections Retriever -->
        <jhi-multi-selections-retriever
          *ngSwitchCase="'multi-selections'"
          [selectionType]="formItem.selectionType!"
          [formControlName]="formItem.id"
          [placeholder]="formItem.placeholder"
          [readOnly]="formItem.readOnly"
        ></jhi-multi-selections-retriever>

        <!-- City And District Selection -->
        <jhi-city-district-selection
          *ngSwitchCase="'cityAndDistrict'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-city-district-selection>

        <!-- Activity Field Selection -->
        <jhi-activity-field
          *ngSwitchCase="'activityField'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-activity-field>

        <!-- Past Activity Field -->
        <jhi-past-activity-field
          *ngSwitchCase="'pastActivity'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-past-activity-field>

        <!-- Actual Activity Field -->
        <jhi-actual-activity-field
          *ngSwitchCase="'actualActivity'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-actual-activity-field>

        <!-- Abroad Activity Field -->
        <jhi-abroad-activity-field
          *ngSwitchCase="'abroadActivity'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-abroad-activity-field>

        <!-- Phone Addition -->
        <jhi-phone-addition *ngSwitchCase="'phone'" [formControlName]="formItem.id" [readOnly]="formItem.readOnly"></jhi-phone-addition>

        <!-- Boolean Field -->
        <jhi-boolean-field
          *ngSwitchCase="'booleanField'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
          [fieldsValues]="formItem.fieldsValues"
        ></jhi-boolean-field>

        <!-- Document Field -->
        <jhi-document-checker
          jhiDocumentValidator
          *ngSwitchCase="'document'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-document-checker>

        <!-- Attendee Field -->
        <jhi-attendee-field
          jhiAttendeeValidator
          *ngSwitchCase="'attendee'"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></jhi-attendee-field>
      </ng-container>
    </div>
    <div *ngIf="formItem.multiple" class="d-flex align-items-end">
      <ng-content class="form-control"></ng-content>
    </div>
  </div>
</ng-container>
