<div>
  <h3>Add Selection</h3>
  <hr />
</div>

<div>
  <form [formGroup]="selectionForm" (ngSubmit)="onSelectionEdit()">
    <div class="mb-3">
      <label>Key</label>
      <input type="text" class="form-control" formControlName="key" />
    </div>
    <div class="mb-3">
      <label>Value</label>
      <textarea class="form-control" formControlName="value"></textarea>
    </div>
    <div class="mb-3">
      <label>Priority</label>
      <input type="number" class="form-control" formControlName="priority" />
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Add Post</button>
    </div>
  </form>
</div>
