<div class="form-group row m-0 p-0" [formGroup]="form">
  <div class="col pl-0">
    <jhi-selections-retriever formControlName="country" selectionType="country" placeholder="Ülke"></jhi-selections-retriever>
  </div>
  <div class="col pl-0">
    <jhi-selections-retriever formControlName="position" selectionType="org-status" placeholder="Konum"></jhi-selections-retriever>
  </div>
  <div class="col pl-0">
    <input type="number" class="form-control" formControlName="startYear" placeholder="Başlangıç Tarihi" />
  </div>
  <div class="col pl-0 pr-0">
    <input type="number" class="form-control" formControlName="endYear" placeholder="Bitiş Tarihi" />
  </div>
</div>
