<div>
  <h3>Selection Details</h3>
  <hr />
</div>

<div>
  <form [formGroup]="selectionForm">
    <div class="mb-3">
      <label>Key</label>
      <input type="text" class="form-control" formControlName="key" />
    </div>
    <div class="mb-3">
      <label>Value</label>
      <textarea class="form-control" formControlName="value"></textarea>
    </div>
    <div class="mb-3">
      <label>Priority</label>
      <input type="number" class="form-control" formControlName="priority" />
    </div>
  </form>
</div>
