<div class="form-group row m-0 p-0" [formGroup]="form">
  <div class="col pl-0 pr-2">
    <jhi-selections-retriever
      (selectionChange)="change($event)"
      formControlName="city"
      selectionType="city"
      placeholder="İl"
    ></jhi-selections-retriever>
  </div>
  <div class="col pl-1 pr-0">
    <jhi-selections-retriever [selectionType]="selection.city" formControlName="district" placeholder="İlçe"></jhi-selections-retriever>
  </div>
</div>
