<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-meeting-attendee-heading"
        data-cy="MeetingAttendeeCreateUpdateHeading"
        jhiTranslate="templateApp.meetingAttendee.home.createOrEditLabel"
      >
        Create or edit a Meeting Attendee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meetingAttendee.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meetingAttendee.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meetingAttendee.meeting" for="field_meeting">Meeting</label>
          <select class="form-control" id="field_meeting" data-cy="meeting" name="meeting" formControlName="meeting">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="meetingOption.id === editForm.get('meeting')!.value?.id ? editForm.get('meeting')!.value : meetingOption"
              *ngFor="let meetingOption of meetingsSharedCollection; trackBy: trackMeetingById"
            >
              {{ meetingOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.meetingAttendee.identity" for="field_identity">Identity</label>
          <select class="form-control" id="field_identity" data-cy="identity" name="identity" formControlName="identity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="identityOption.id === editForm.get('identity')!.value?.id ? editForm.get('identity')!.value : identityOption"
              *ngFor="let identityOption of identitiesSharedCollection; trackBy: trackIdentityById"
            >
              {{ identityOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
