<div>
  <h2 id="page-heading" data-cy="MeetingAttendeeHeading">
    <span jhiTranslate="templateApp.meetingAttendee.home.title">Meeting Attendees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="templateApp.meetingAttendee.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-meeting-attendee"
        [routerLink]="['/meeting-attendee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="templateApp.meetingAttendee.home.createLabel"> Create a new Meeting Attendee </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="meetingAttendees?.length === 0">
    <span jhiTranslate="templateApp.meetingAttendee.home.notFound">No meetingAttendees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="meetingAttendees && meetingAttendees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meetingAttendee.status">Status</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meetingAttendee.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meetingAttendee.meeting">Meeting</span></th>
          <th scope="col"><span jhiTranslate="templateApp.meetingAttendee.identity">Identity</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meetingAttendee of meetingAttendees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/meeting-attendee', meetingAttendee.id, 'view']">{{ meetingAttendee.id }}</a>
          </td>
          <td>{{ meetingAttendee.status }}</td>
          <td>{{ meetingAttendee.deleted }}</td>
          <td>
            <div *ngIf="meetingAttendee.meeting">
              <a [routerLink]="['/meeting', meetingAttendee.meeting?.id, 'view']">{{ meetingAttendee.meeting?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="meetingAttendee.identity">
              <a [routerLink]="['/identity', meetingAttendee.identity?.id, 'view']">{{ meetingAttendee.identity?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/meeting-attendee', meetingAttendee.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/meeting-attendee', meetingAttendee.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(meetingAttendee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
