<jhi-query-builder *ngIf="mode === 'search'" [config]="queryBuilderConfig" (resultChanged)="resultChanged($event)"></jhi-query-builder>
<div *ngIf="data" class="d-flex flex-row justify-content-center mt-3">
  <div class="card w-100">
    <div class="card-body">
      <div class="card-title">
        <h5>Bulunan Sonuçlar</h5>
      </div>
      <div class="col">
        <div class="row w-100">
          <jhi-table class="w-100" [configs]="tableConfig"></jhi-table>
        </div>
      </div>
    </div>
  </div>
</div>
