<jhi-form-card title="Kimlik Bilgileri" [formCreator]="formCreator!" [backButton]="true">
  <button *ngIf="!person!.id; else update" type="button" (click)="submit()" class="btn btn-primary">
    <fa-icon icon="arrow-right"></fa-icon>
    <span class="pl-1">Organizasyon Bilgilerine Geç</span>
  </button>
</jhi-form-card>
<ng-template #update>
  <button (click)="updateSubmit()" type="button" class="btn btn-primary">
    <fa-icon icon="save"></fa-icon>
    <span class="pl-1">Güncelle</span>
  </button>
</ng-template>
