<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="otherPerson">
      <h2 data-cy="otherPersonDetailsHeading"><span jhiTranslate="templateApp.otherPerson.detail.title">Other Person</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ otherPerson.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherPerson.identity">Identity</span></dt>
        <dd>
          <div *ngIf="otherPerson.identity">
            <a [routerLink]="['/identity', otherPerson.identity?.id, 'view']">{{ otherPerson.identity?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/other-person', otherPerson.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
