<div>
  <button type="button" class="btn btn-primary" (click)="onIncrement()">Increment</button>
  <button type="button" class="btn btn-danger" (click)="onDecrement()">Decrease</button>
  <button type="button" class="btn btn-success" (click)="onReset()">Reset</button>
</div>
