<jhi-card-wrapper [backButton]="true">
  <div class="col" slot="main">
    <jhi-dynamic-form-creator class="row" [formCreator]="formCreator!"></jhi-dynamic-form-creator>
    <ng-container *ngFor="let form of formCreatorsOfRecords; index as i">
      <div class="row" *ngIf="formCreatorsOfRecords.length > 1">
        <div class="d-flex justify-content-between mt-3 w-100">
          <h4>{{ otherPerson.otherPersonRecords![i].city }}</h4>
          <button
            type="button"
            class="btn btn-danger"
            ngbTooltip="Silme Talebi Oluştur"
            placement="bottom"
            (click)="createDeletionDemand(otherPerson.otherPersonRecords![i].id!)"
          >
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </div>
      <jhi-dynamic-form-creator class="row" [formCreator]="form"></jhi-dynamic-form-creator>
    </ng-container>
  </div>
  <button
    *ngIf="!otherPerson.id; else update"
    [disabled]="!isButtonActive"
    slot="actions"
    (click)="isSubject3 ? meetingSubmit() : createSubmit()"
    type="button"
    class="btn btn-primary"
  >
    <fa-icon icon="save"></fa-icon>
    <span class="pl-1">Kaydet</span>
  </button>
</jhi-card-wrapper>
<ng-template #update>
  <ng-container slot="actions">
    <button
      *ngIf="formCreatorsOfRecords.length === 1"
      type="button"
      class="btn btn-danger"
      (click)="createDeletionDemand(otherPerson.otherPersonRecords![0].id!)"
    >
      <fa-icon icon="trash-alt"></fa-icon>
      <span class="pl-1">Silme Talebi</span>
    </button>
    <button (click)="updateSubmit()" type="button" [disabled]="!isButtonActive" class="btn btn-primary">
      <fa-icon icon="save"></fa-icon>
      <span class="pl-1">Güncelle</span>
    </button>
  </ng-container>
</ng-template>
