<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="otherName">
      <h2 data-cy="otherNameDetailsHeading"><span jhiTranslate="templateApp.otherName.detail.title">Other Name</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ otherName.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherName.name">Name</span></dt>
        <dd>
          <span>{{ otherName.name }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.otherName.person">Person</span></dt>
        <dd>
          <div *ngIf="otherName.person">
            <a [routerLink]="['/person', otherName.person?.id, 'view']">{{ otherName.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/other-name', otherName.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
