<form [formGroup]="form!" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div class="col">
        <div class="row justify-content-center">
          <fa-icon icon="search" class="fa-2x"></fa-icon>
        </div>
        <div class="row justify-content-center mt-3">
          <span>Hızlı Sorgu</span>
        </div>
        <div class="row mt-3">
          <mat-form-field class="w-100">
            <mat-label>TC Kimlik No:</mat-label>
            <input formControlName="tckNo" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <div mat-dialog-actions class="d-flex justify-content-center">
      <button type="submit" [disabled]="form!.invalid" color="primary" mat-raised-button>Sorgula</button>
    </div>
  </mat-card>
</form>
