<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="meeting">
      <h2 data-cy="meetingDetailsHeading"><span jhiTranslate="templateApp.meeting.detail.title">Meeting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ meeting.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.city">City</span></dt>
        <dd>
          <span>{{ meeting.city }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.totalPlaces">Total Places</span></dt>
        <dd>
          <span>{{ meeting.totalPlaces }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.date">Date</span></dt>
        <dd>
          <span>{{ meeting.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.subject">Subject</span></dt>
        <dd>
          <span>{{ meeting.subject }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.unit">Unit</span></dt>
        <dd>
          <span>{{ meeting.unit }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.totalAttendee">Total Attendee</span></dt>
        <dd>
          <span>{{ meeting.totalAttendee }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.attendee">Attendee</span></dt>
        <dd>
          <span>{{ meeting.attendee }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.type">Type</span></dt>
        <dd>
          <span>{{ meeting.type }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.meeting.finalized">Finalized</span></dt>
        <dd>
          <span>{{ meeting.finalized }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/meeting', meeting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
