<jhi-form-card title="Kimlik Bilgilerini Getir" [formCreator]="formCreator!">
  <button [disabled]="formCreator.form.invalid" (click)="submit()" type="button" class="btn btn-primary">
    <span>Sorgula</span>
  </button>
</jhi-form-card>
