<div class="form-group row m-0 p-0" [formGroup]="form">
  <div class="col pl-0">
    <select class="form-control" formControlName="field" (change)="selectionChange()">
      <option [ngValue]="null" selected>Alan Seçin</option>
      <option *ngFor="let field of fields" [ngValue]="field.field">{{ 'templateApp.parameterField.' + field.field | translate }}</option>
    </select>
  </div>
  <div class="col pl-0">
    <jhi-selections-retriever
      formControlName="sqlOperation"
      selectionType="sql"
      placeholder="Sql"
      [isTranslationActive]="true"
    ></jhi-selections-retriever>
  </div>
  <div class="col pl-0 pr-0">
    <input type="text" class="form-control" formControlName="value" placeholder="Değer" />
  </div>
  <button (click)="addNewParameter()" type="button" class="btn btn-primary ml-1" placement="bottom" ngbTooltip="Ekle">
    <fa-icon icon="plus"></fa-icon>
  </button>
</div>
