<div class="col">
  <div class="row">
    <div class="col-3">
      <jhi-quick-search></jhi-quick-search>
    </div>
    <div class="col-6">
      <jhi-years-stats></jhi-years-stats>
    </div>
    <div class="col-3">
      <jhi-calender></jhi-calender>
    </div>
  </div>
</div>
