<div class="row navbar navbar-dark navbar-expand-md bg-primary">
  <div class="col">
    <div class="row align-items-center">
      <fa-icon style="color: white" icon="user-secret" class="fa-2x"></fa-icon>
      <span style="color: white" class="navbar-title pl-3">Template</span>
    </div>
    <div class="row" style="height: 250px; color: #3e8acc"></div>
  </div>
</div>
