<mat-tab-group class="main-tab-group mt-2" [(selectedIndex)]="selectedTab" animationDuration="0ms">
  <mat-tab *ngFor="let tab of tabs; index as i">
    <ng-template mat-tab-label>
      <span>{{ tab.title }}</span>
      <fa-icon icon="times" class="ml-2 border-left pl-2" *ngIf="i !== 0" (click)="closeTab(i)"></fa-icon>
    </ng-template>
    <div>
      <jhi-tab-content [tab]="tab"></jhi-tab-content>
    </div>
  </mat-tab>
</mat-tab-group>
