<ng-container [formGroup]="form">
  <div class="form-row">
    <div class="form-group col">
      <jhi-selections-retriever
        selectionType="activity"
        formControlName="organization"
        placeholder="Alan"
        #organization
        (selectionChange)="organizationSelectionChanged($event)"
      ></jhi-selections-retriever>
    </div>
    <div class="form-group col">
      <jhi-selections-retriever selectionType="org-status" formControlName="status" placeholder="Konum"></jhi-selections-retriever>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <jhi-selections-retriever
        (selectionChange)="citySelectionChanged($event)"
        selectionType="city"
        formControlName="city"
        placeholder="İl"
      ></jhi-selections-retriever>
    </div>
    <ng-container [ngSwitch]="form.get('organization')!.value!">
      <div class="form-group col" *ngSwitchCase="'ActivityType2'">
        <jhi-selections-retriever [selectionType]="selection.city" formControlName="district" placeholder="İlçe"></jhi-selections-retriever>
      </div>
      <div class="form-group col" *ngSwitchCase="'ActivityType3'">
        <jhi-selections-retriever selectionType="section" formControlName="section" placeholder="Kuvvet"></jhi-selections-retriever>
      </div>
      <div class="form-group col" *ngSwitchCase="'ActivityType4'">
        <jhi-selections-retriever selectionType="section" formControlName="institution" placeholder="Kurum"></jhi-selections-retriever>
      </div>
    </ng-container>
  </div>
</ng-container>
