<jhi-form-card
  [backButton]="!!meeting.id && actions"
  [formCreator]="formCreator!"
  [title]="!!meeting.id ? 'Toplantıyı Düzenle' : 'Toplantı Oluştur'"
  [size]="size"
>
  <ng-container *ngIf="actions">
    <button
      *ngIf="meetingType !== 'MeetingType3'; else type3"
      type="button"
      (click)="createMeeting()"
      class="btn btn-primary"
      [disabled]="formCreator!.form.invalid"
    >
      <fa-icon icon="save"></fa-icon>
      <span class="pl-1">Kaydet</span>
    </button>
  </ng-container>
</jhi-form-card>
<ng-template #type3>
  <button type="button" (click)="passToAttendeesCreation()" class="btn btn-primary" [disabled]="formCreator!.form.invalid">
    <fa-icon icon="arrow-right"></fa-icon>
    <span class="pl-1">Katılımcı Ekle</span>
  </button>
</ng-template>
