<select [(ngModel)]="value" class="form-control" (change)="change(value!)" [disabled]="readOnly!">
  <option [ngValue]="null" data-default>{{ placeholder }}</option>
  <option [ngValue]="true">{{ fieldsValues!.trueField }}</option>
  <option [ngValue]="false">{{ fieldsValues!.falseField }}</option>
</select>
