<div *ngIf="!loading && meetings.length === 0" class="alert alert-success" role="alert">Toplantı Bulunmamaktadır.</div>
<jhi-loading-spinner *ngIf="loading"></jhi-loading-spinner>
<jhi-card-wrapper
  *ngIf="!loading && meetings.length > 0"
  [title]="(finalized ? 'Sonuçlandırılmış' : 'Sonuçlandırılmamış') + ' Toplantılar'"
>
  <jhi-table slot="main" class="w-100" [configs]="tableConfig!"></jhi-table>
</jhi-card-wrapper>
