<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="selection">
      <h2 data-cy="selectionDetailsHeading"><span jhiTranslate="templateApp.selection.detail.title">Selection</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ selection.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.selection.key">Key</span></dt>
        <dd>
          <span>{{ selection.key }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.selection.value">Value</span></dt>
        <dd>
          <span>{{ selection.value }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.selection.priority">Priority</span></dt>
        <dd>
          <span>{{ selection.priority }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/selection', selection.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
