<div class="form-group row m-0 p-0" [formGroup]="form">
  <div class="col pl-0">
    <input class="form-control" (ngModelChange)="inputChanged()" formControlName="identityNumber" placeholder="Kimlik Numarası" />
  </div>
  <div class="col pl-0">
    <input class="form-control" formControlName="nameAndSurname" placeholder="İsim Soyisim" />
  </div>
  <div class="col pl-0 pr-0">
    <jhi-selections-retriever formControlName="status" selectionType="attendeeStatus" placeholder="Durum"></jhi-selections-retriever>
  </div>
</div>
