<jhi-form-card title="Yurtdışı Faaliyetleri" [formCreator]="formCreator!" [backButton]="!!person.id">
  <ng-container *ngIf="!person.id; else update">
    <button (click)="back()" type="button" class="btn btn-primary">
      <fa-icon icon="arrow-left"></fa-icon>
      <span class="pl-1">Geri</span>
    </button>
    <button (click)="submit()" type="button" class="btn btn-primary">
      <fa-icon icon="plus"></fa-icon>
      <span class="pl-1">Kaydet</span>
    </button>
  </ng-container>
</jhi-form-card>
<ng-template #update>
  <button (click)="updateSubmit()" type="button" class="btn btn-primary">
    <fa-icon icon="save"></fa-icon>
    <span class="pl-1">Güncelle</span>
  </button>
</ng-template>
