<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-person-heading" data-cy="PersonCreateUpdateHeading" jhiTranslate="templateApp.person.home.createOrEditLabel">
        Create or edit a Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.position" for="field_position">Position</label>
          <input type="text" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.section" for="field_section">Section</label>
          <input type="text" class="form-control" name="section" id="field_section" data-cy="section" formControlName="section" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.district" for="field_district">District</label>
          <input type="text" class="form-control" name="district" id="field_district" data-cy="district" formControlName="district" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.institution" for="field_institution">Institution</label>
          <input
            type="text"
            class="form-control"
            name="institution"
            id="field_institution"
            data-cy="institution"
            formControlName="institution"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.organization" for="field_organization">Organization</label>
          <input
            type="text"
            class="form-control"
            name="organization"
            id="field_organization"
            data-cy="organization"
            formControlName="organization"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="templateApp.person.identity" for="field_identity">Identity</label>
          <select class="form-control" id="field_identity" data-cy="identity" name="identity" formControlName="identity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="identityOption.id === editForm.get('identity')!.value?.id ? editForm.get('identity')!.value : identityOption"
              *ngFor="let identityOption of identitiesCollection; trackBy: trackIdentityById"
            >
              {{ identityOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
