<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="num"></label>
    <input type="number" name="num" id="num" class="form-control" formControlName="num" />
  </div>
  <div class="my-3">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Getir</button>
  </div>
</form>
<!--<router-outlet></router-outlet>-->
<input (change)="fieldsChange($event)" value="angular" type="checkbox" />
