<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="abroadActivity">
      <h2 data-cy="abroadActivityDetailsHeading"><span jhiTranslate="templateApp.abroadActivity.detail.title">Abroad Activity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ abroadActivity.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.abroadActivity.country">Country</span></dt>
        <dd>
          <span>{{ abroadActivity.country }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.abroadActivity.startYear">Start Year</span></dt>
        <dd>
          <span>{{ abroadActivity.startYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.abroadActivity.endYear">End Year</span></dt>
        <dd>
          <span>{{ abroadActivity.endYear }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.abroadActivity.position">Position</span></dt>
        <dd>
          <span>{{ abroadActivity.position }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.abroadActivity.deleted">Deleted</span></dt>
        <dd>
          <span>{{ abroadActivity.deleted }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.abroadActivity.person">Person</span></dt>
        <dd>
          <div *ngIf="abroadActivity.person">
            <a [routerLink]="['/person', abroadActivity.person?.id, 'view']">{{ abroadActivity.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/abroad-activity', abroadActivity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
