<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="payPhone">
      <h2 data-cy="payPhoneDetailsHeading"><span jhiTranslate="templateApp.payPhone.detail.title">Pay Phone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payPhone.id }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.payPhone.city">City</span></dt>
        <dd>
          <span>{{ payPhone.city }}</span>
        </dd>
        <dt><span jhiTranslate="templateApp.payPhone.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ payPhone.phoneNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pay-phone', payPhone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
